# Praxisprojekt - Preprocessing und Visualisierung von Wetterdaten 
Wetterdaten vom 01.01.2015 - 21.12.2022 in DÃ¼sseldorf
Link: https://meteostat.net/de/place/de/dusseldorf?s=10400&t=2015-01-01/2022-12-31 - abgerufen 01.05.2023

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt

## Daten einlesen und anzeigen

In [2]:
df = pd.read_csv('wetterdaten2015-2022.csv')

In [3]:
df.head()

         date  tavg  tmin  tmax  prcp  snow   wdir  wspd  wpgt    pres  tsun
0  2015-01-01   1.7  -2.3   5.5   2.8   0.0  176.0  15.8  41.8  1034.6   318
1  2015-01-02   5.6   1.7   8.8   1.1   0.0  227.0  20.9  44.6  1028.1   132
2  2015-01-03   2.7   0.4   4.4   4.2   0.0  210.0  13.3  40.0  1025.2     0
3  2015-01-04   2.7  -1.5   6.4   0.0   0.0  266.0  11.5  26.3  1033.3   378
4  2015-01-05   2.7  -0.8   4.7   0.0   0.0  204.0  11.9  25.9  1033.4   228